<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>董事会</string>
	<key>generalManagers</key>
	<array>
		<dict>
			<key>name</key>
			<string>总经理</string>
			<key>managers</key>
			<array>
				<dict>
					<key>name</key>
					<string>经营经理</string>
					<key>departments</key>
					<array>
						<dict>
							<key>name</key>
							<string>营销部</string>
							<key>number</key>
							<integer>100</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>市场部</string>
							<key>number</key>
							<integer>200</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>生产经理</string>
					<key>departments</key>
					<array>
						<dict>
							<key>name</key>
							<string>生管部</string>
							<key>number</key>
							<integer>300</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>生产部</string>
							<key>number</key>
							<integer>400</integer>
						</dict>
					</array>
				</dict>
				<dict>
					<key>name</key>
					<string>财务经理</string>
					<key>departments</key>
					<array>
						<dict>
							<key>name</key>
							<string>供应部</string>
							<key>number</key>
							<integer>500</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>财务部</string>
							<key>number</key>
							<integer>600</integer>
						</dict>
						<dict>
							<key>name</key>
							<string>仓库</string>
							<key>number</key>
							<integer>700</integer>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
